body {
  background: rgb(38, 38, 38);
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 9999;
  height: 100px;
}
.header__logo img {
  width: 100px;
  height: 100%;
  border-radius: 50%;
}
.header__container {
  max-width: 1200px;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header__nav {
  display: flex;
}
.header__nav .navigation__list {
  display: flex;
  list-style-type: none;
  height: 100%;
}
.header__nav .navigation__item {
  padding: 10px 20px;
  align-self: center;
}
.header__nav .navigation__item a {
  text-decoration: none;
  color: #bffcf9;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us swiper-container {
  --bg-height: 75vh;
  width: 100vw;
  height: var(--bg-height);
  background-image: url(https://swiperjs.com/demos/images/nature-1.jpg);
  min-height: var(--bg-height);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about-us swiper-container .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.about-us swiper-container swiper-slide {
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
}
.about-us swiper-container swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}
.about-us swiper-container swiper-slide .subtitle {
  font-size: 21px;
}
.about-us swiper-container swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  text-align: justify;
}

.solutions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  max-height: 75vh;
}
.solutions__tittle {
  text-align: center;
}
.solutions__heading {
  font-size: 2rem;
  font-weight: bolder;
  color: #00c9c8;
}
.solutions__content {
  color: #bffcf9;
}
.solutions .solution {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.solutions .solution__list {
  display: flex;
  flex-direction: row;
}
.solutions .solution__number {
  font-size: 1.75rem;
  font-weight: bolder;
  color: #bffcf9;
}
.solutions .solution__heading {
  font-size: 1.75rem;
  color: #bffcf9;
  font-weight: bold;
}
.solutions .solution__group p {
  color: white;
  font-size: 0.75rem;
}

.ourWorks__heading {
  padding: 20px 0;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: #00c9c8;
}
.ourWorks swiper-slide .product img {
  width: 100%;
}
.ourWorks swiper-slide .product__name {
  font-family: "Climate Crisis", cursive;
  text-align: center;
  color: #bffcf9;
}

.members {
  width: 100vw;
  max-height: 50vh;
}
.members__title {
  height: 100%;
  display: flex;
}
.members__title .container {
  align-self: center;
}
.members__title .container h3 {
  color: #00c9c8;
  font-size: 4rem;
}
.members__list swiper-slide {
  height: 100%;
  display: flex;
}
.members__list .member {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.members__list .member__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.members__list .member__infomation {
  color: #bffcf9;
}
.members__list .member__name {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.members__list .member__job {
  font-size: 1rem;
  text-transform: uppercase;
}
.members__list .member__description {
  padding-top: 20px;
}

.contact {
  display: flex;
  width: 100vw;
}
.contact__infomation {
  display: flex;
}
.contact__list {
  display: flex;
  width: 100vw;
  padding: 0 20px;
}
.contact__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 20px;
  color: #bffcf9;
}
.contact__heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00c9c8;
}

.footer {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
}
.footer__heading {
  font-size: 1.25rem;
  color: #00c9c8;
  text-transform: uppercase;
  font-weight: bold;
}
.footer__list {
  list-style-type: none;
}
.footer__element {
  color: #bffcf9;
}
.footer__socials {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.footer__socials .facebook-icon:hover {
  color: blue;
}
.footer__socials .instagram-icon:hover {
  color: rgb(166, 2, 248);
}
.footer__socials .linkedin-icon:hover {
  color: blue;
}
.footer__social {
  margin: 10px;
  color: #bffcf9;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 999999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}/*# sourceMappingURL=index.css.map */